.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-dark);
  width: 100%;
}

.blog h3 {
  margin-top: 40px;
  font-weight: bold;
  color: var(--title);
}

.blog p {
  font-size: 15px;
  color: #adadad;
  margin-bottom: 30px;
  text-align: center;
}

.blogContainer {
  width: 85%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.blogContent .imgBlog {
  background-color: #fff;
  overflow: hidden;
  width: 100%;
}

.blogContent .postTitle {
  color: var(--title);
  font-weight: bold;
  font-size: 25px;
  text-align: start;
  margin-left: 5%;
  height: 140px;
  max-height: 140px;
}

.blogContent .author {
  display: flex;
  margin-left: 5%;
  margin-bottom: 25px;
}

.blogContent .author p {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogContainer .rec-arrow-left,
.blogContainer .rec-arrow-right {
  display: none;
}

.blogContainer .rec-dot_active,
.blogContainer .rec-dot_active:hover,
.blogContainer .rec-dot_active:focus,
.blogContainer .rec-dot:focus,
.blogContainer .rec-dot:hover {
  box-shadow: 0 0 1px 3px var(--primary);
  background-color: var(--primary);
}

@media (min-width: 768px) {
  .blogContent .imgBlog .imgBlog {
    width: 100%;
  }
}

@media (min-width: 1100px) {
  .blogContainer .rec-arrow-right {
    display: block;
  }

  .blogContainer .rec-arrow-right,
  .blogContainer .rec-arrow-right:focus,
  .blogContainer .rec-arrow-right:hover {
    background-color: #fff !important;
    color: var(--primary) !important;
  }
}
